%ul#nav
  %h1
    - link_to blog_path do
      the
      %strong glamourist
  %li
    = link_to 'home', root_path, :class => 'home'
  %li
    = link_to 'portfolio', portfolio_path
  %li
    = link_to 'about', about_path
  %li
    = link_to 'contact', contact_path
  %li
    = link_to 'blog', blog_path
:javascript
  $(document).ready(function() {
    $('#nav li a').hover(
      function() {
        if (!$(this).data('originalWidth'))
          $(this).data('originalWidth', $(this).width());
        $(this).animate({ width: $(this).width() + 50 });
      },
      function() {
        $(this).animate({ width: $(this).data('originalWidth') });
      });
  });
