#portrait

%h1 latest from our portfolio

%p
  - @photos.each do |p|
    = link_to image_tag(p[:src]), "http://flickr.com#{p[:href]}", :class => 'thumb', :id => p[:id]
  = link_to raw('see more &raquo;'), portfolio_path

:markdown
  popular services
  ================

    - bridal makeup, hairstyling
    - engagement, photo shoots
    - photo shoots
    - editorials, print
    - commercials
    - eye brow grooming
    - image consulting
    - makeup lessons (group or individual)

  see more in our [full services list](#{services_path})

%h1 contact us

fill out #{link_to 'our contact form', new_contact_path} or send us an email at
#{raw mail_to('jane@theglamourist', nil, :encode => 'javascript')}.
