#portrait

#about
  %h2 services
  %p
    professional makeup and hair services for the bay area, los angeles, and
    beyond.
  %p
    see more in our #{raw link_to('full services list', services_path)}.

  %h2 contact us
  %p
    fill out #{link_to 'our contact form', new_contact_path} or send us an email
    at #{raw mail_to('jane@theglamourist.com', nil, :encode => 'javascript')}.

  %h2 latest from our portfolio
  %p
    - @photos.each do |p|
      %a.thumb{ :href => p['href'], :id => p['id'] }
        = image_tag(p['src'])
    = link_to raw('see more &raquo;'), portfolio_path
