#address.pullout
  %h1 contact
  %p
    jane kim
    = mail_to 'jane@theglamourist.com', nil, :encode => 'javascript'
  %p.phone
    (714) 932-8289

%h1 for inquires

- form_for @contact do |f|
  = f.error_messages

  %p
    = f.label :name, 'name'
    %br
    = f.text_field :name
  %p
    = f.label :email, 'email'
    %br
    = f.text_field :email
  %p
    = f.label :message, 'message'
    %br
    = f.text_area :message, :placeholder => 'please describe what you&rsquo;re looking for'
  %p
    = f.submit 'Send'
:javascript
  $(document).ready(function() { $('form :text:first').focus(); });
