!!! 5
%html
  %head
    %title
      = yield(:title) + ' |'  if content_for?(:title)
      the glamourist - jane kim
    = csrf_meta_tag
    = auto_discovery_link_tag :atom, posts_url(:format => 'atom')
    = stylesheet_link_tag 'application'
    <!--[if IE]>
    = stylesheet_link_tag 'ie'
    <![endif]-->
    <!--[if IE 7]>
    = stylesheet_link_tag 'ie7'
    <![endif]-->
  %body{:class => "#{params[:controller]} #{params[:controller]}-#{params[:action]}"}
    #content
      %ul#nav
        %h1
          = link_to 'the <b>glamourist</b>'.html_safe, root_path
        .social
          = '<a href="http://www.facebook.com/theglamourist"><img src="/images/facebook.png" class="facebook" alt="Like theglamourist on Facebook"/></a>'.html_safe
          = '<a href="http://www.twitter.com/theglamourist"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-b.png" alt="Follow theglamourist on Twitter" class="twitter"/></a>'.html_safe
          = '<a href="http://www.yelp.com/biz/the-glamourist-san-francisco"><img src="/images/yelp.png" class="yelp" alt="Rate theglamourist on Yelp"/></a>'.html_safe
        %li= link_to 'home', root_path, :class => 'home'
        %li= link_to 'portfolio', portfolio_path, :class => 'portfolio'
        %li= link_to 'services', services_path, :class => 'services'
        %li= link_to 'contact', new_contact_path, :class => 'contact'
        %li= link_to 'about', about_path, :class => 'about'
        %li= link_to 'blog', posts_path, :class => 'blog'
        .clear
      #page
        = yield
      #footer
        &copy; #{Time.now.year} the glamourist
        &mdash; designed by #{link_to 'fortnight labs', 'http://fortnightlabs.com'}
        &mdash; code on #{link_to 'github', 'http://github.com/visnup/theglamourist'}
    - if Rails.env.production?
      = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
    - else
      = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.ba-hashchange.min', 'rails', 'application', :cache => true
    - if Rails.env.production?
      %script{ :type => 'text/javascript', :src => 'http://static.getclicky.com/js' }
      :javascript
        try{clicky.init(236629);}catch(e){}
      %noscript
        = image_tag 'http://in.getclicky.com/236629ns.gif', :size => '1x1'
