!!! 5
%html
  %head
    %title
      = yield(:title) + ' |'  if content_for?(:title)
      the glamourist - jane kim
    = csrf_meta_tag
    = auto_discovery_link_tag :atom, 'http://blog.theglamourist.com/rss.xml'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:100'
    = stylesheet_link_tag 'application'
    <!--[if IE]>
    = stylesheet_link_tag 'ie'
    <![endif]-->
    <!--[if IE 7]>
    = stylesheet_link_tag 'ie7'
    <![endif]-->
    = yield :head
  %body{:class => "#{params[:controller]} #{params[:controller]}-#{params[:action]}"}
    #content
      %header
        %h1
          .tagline! Hair <b>|</b> Makeup Design
          = link_to 'THE <b>GLAMOURIST</b>'.html_safe, root_path
        %nav
          %ul
            %li= link_to_unless_current 'home', root_path, :class => 'home'
            %li= link_to_unless_current 'about', about_path, :class => 'about'
            %li= link_to_unless_current 'gallery', portfolio_path, :class => 'portfolio'
            %li= link_to_unless_current 'services', services_path, :class => 'services'
            %li= link_to_unless_current 'blog', 'http://blog.theglamourist.com', :class => 'blog'
            %li= link_to_unless_current 'contact', new_contact_path, :class => 'contact'
            %li.social
              %a{ :href => "http://www.facebook.com/theglamourist" }
                %img.facebook{ :src => "/images/facebook.png" }
              %a{ :href => "http://www.twitter.com/theglamourist" }
                %img.twitter{ :src => "/images/twitter.png" }
              %a{ :href => "http://www.yelp.com/biz/the-glamourist-san-francisco" }
                %img.yelp{ :src => "/images/yelp.png" }
      #page= yield
    %footer
      .where SF Bay Area Makeup Artist, SF, Napa, San Jose, Northern CA, Southen CA, Boudoir, Commerical, Fashion
      &copy; #{Time.now.year} the glamourist
      &mdash; designed by #{link_to 'fortnight labs', 'http://fortnightlabs.com'}
    - if Rails.env.production?
      = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    - else
      = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.ba-hashchange.min', 'rails', 'application', :cache => true
    - if Rails.env.production?
      %script{ :type => 'text/javascript', :src => 'http://static.getclicky.com/js' }
      :javascript
        try{clicky.init(236629);}catch(e){}
      %noscript
        = image_tag 'http://in.getclicky.com/236629ns.gif', :size => '1x1'
