!!! 5
%html
  %head
    %title the glamourist - jane kim
    = auto_discovery_link_tag :atom, posts_url(:format => 'atom')
    = stylesheet_link_tag 'application', :media => 'all'
    - if Rails.env.production?
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'
    - else
      = javascript_include_tag 'jquery-1.4.js'
  %body{:class => "#{params[:controller]} #{params[:controller]}-#{params[:action]} #{@_first_render.path_without_format_and_extension.gsub('/', '-')}"}
    #content
      %ul#nav
        %h1
          - link_to root_path do
            the
            %strong glamourist
        %li= link_to 'home', root_path, :class => 'home'
        %li= link_to 'portfolio', portfolio_path, :class => 'portfolio'
        %li= link_to 'about', about_path, :class => 'about'
        %li= link_to 'contact', new_contact_path, :class => 'contact'
        %li= link_to 'blog', posts_path, :class => 'blog'
      :javascript
        $(document).ready(function() {
          $('#nav li a[href=' + window.location.pathname + ']')
            .addClass('selected')
            .css('width', function() { return $(this).width() + 50; });
          $('#nav li a:not(.selected)').hover(
            function() {
              if (!$(this).data('originalWidth'))
                $(this).data('originalWidth', $(this).width());
              $(this).animate({ width: $(this).width() + 50 });
            },
            function() {
              $(this).animate({ width: $(this).data('originalWidth') }, 'fast');
            });
        });
      #page
        = yield
    - if Rails.env.production?
      %script{ :type => 'text/javascript', :src => 'http://static.getclicky.com/js' }
      :javascript
        clicky.init(174984);
      %noscript
        %img{ :width => 1, :height => 1, :src => 'http://static.getclicky.com/157700ns.gif' }
